body
{
    background-color: #e3e6e0;
}

#barra
{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	background-color: #e3e6e0;
}

#habilitado
{
	color: rgb(69, 138, 0);
}