body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
    background-color: #e3e6e0;
    color: rgba(0,0,0,.55);
}

#barra {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	background-color: #e3e6e0;
}

#habilitado {
	color: rgb(69, 138, 0);
}

.login{
    width: 100vw;
    height: 80vh;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    width: 500px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 22px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background: #cfcfcf;
    transition: .3s ease-in-out;
}

.login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    border: unset;
    outline: none;
    padding-left: 8px;
    font-size: 18px;
}

.login__submit {
    height: 48px;
    width: 100%;
    outline: none;
    background-size: 200%;
    margin-bottom: 32px;
    color: rgba(0,0,0,.55);
    font-size: large;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.login__submit:hover {
    background-position: right;
}

.login__submit:disabled {
    background: var(--button-disabled);
    cursor: not-allowed;
}

.login__submit.error {
    background: var(--input-error);
}

.login__submit.success {
    background: var(--input-success);
}

.login__input:focus + .login__input-border::after {
    width: 100%;
}

.login__input-border::after {
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background: linear-gradient(217deg, rgb(67, 78, 66), rgba(140, 156, 140, 0) 70.71%),
    linear-gradient(127deg, rgb(94, 110, 94), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(166, 189, 151, 0.8), rgba(0,0,255,0) 70.71%);
    transition: 0.3s ease-in-out;
}

.icones:hover {
    cursor: pointer;
}

.resize {
    width: 120px;
    height: auto;
    border-radius: 10px;
}

p {
    color: grey;
    text-align: center;
    height: 48px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.cabecalho{
    justify-content: center;
    text-align: center;
}
